@{
    ViewBag.Title = "Contacto";
}
<main class="container mt-4" aria-labelledby="title">
    <div class="card p-4 shadow">
        <h2 id="title" class="mb-3">@ViewBag.Title</h2>
        <h4 class="text-muted">@ViewBag.Message</h4>
        <hr />
        <div class="row mt-4">
            <div class="col-md-6">
                <h5>Información de contactos</h5>
                <address>
                    <strong>Banco Los Patitos</strong><br/>
                    Universidad Fidélitas<br/>
                    San José, Costa Rica<br/>
                    Tel: +506 2256-2222<br />
                </address>
            </div>
            <div class="col-md-6">
                <h5>Correos electrónicos</h5>
                <address>
                    <strong>Soporte:</strong> <a href="mailto:lquiros460787@ufide.ac.cr">lquiros460787@ufide.ac.cr</a><br/>
                    <strong>Soporte:</strong> <a href="mailto:gbrenes80867@ufide.ac.cr">gbrenes80867@ufide.ac.cr</a>
                </address>
            </div>
        </div>
    </div>
</main>

<div>
    @Html.ActionLink("Regresar a menu principal", "Index", "Home")
</div>